<%- include('header'); %>
  <!-- BEGIN breadcrumb -->
  <ol class="breadcrumb float-xl-end">
    <li class="breadcrumb-item"><a href="javascript:;">Home</a></li>
    <li class="breadcrumb-item active">메인</li>
  </ol>
  <!-- END breadcrumb -->
  <!-- BEGIN page-header -->
  <h1 class="page-header mb-3">메인</h1>
  <!-- END page-header -->

  <div class="row">
    <div class="col">
      <div class="card border-0 mb-3 overflow-hidden">
        <div class="card-body">
          <div class="user-profile text-center">
            <div class="d-flex gap-3">
              <div class="mb-3">
                <a href="javascript:;" class="d-block w-60px position-relative">
                  <i class="fas fa-5x fa-circle-user text-gray-600"></i>
                  <!-- <img src="/assets/img/user/user-6.jpg" alt="" class="mw-100 rounded-pill"> -->
                  <span class="badge user-status position-absolute top-0 start-0"></span>
                </a>
              </div>
              <div class="text-start">
                <div>
                  
                  <h5 class="mt-2 mb-2">
                    <%=user.f_email%>
                  </h5>
                </div>
                <h5>
                  <i class="fa-solid fa-users"></i> 23
                </h5>
              </div>
            </div>
            <hr class="bg-white bg-opacity-50">
            <div class="row text-truncate">
              <div class="col-6">
                <div>누적 수수료</div>
                <div class="fs-18px mb-5px fw-bold text-success">$<span data-animation="number" data-value="<%=user.f_sumfee%>"><%=user.f_sumfee%></span></div>
              </div>
              <div class="col-6">
                <div>롤업 커미션</div>
                <div class="fs-18px mb-5px fw-bold text-success">$<span data-animation="number" data-value="<%=user.f_sumcoms%>"><%=user.f_sumcoms%></span></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script>
      window.addEventListener('DOMContentLoaded', (event) => {
        let status = <%=user.f_status%>;
        let userStatus = $('.user-status');
        //(0 : 미등록, 1: 활성, 2:비활성, 90:탈퇴)
        switch (status) {
          case 0:
            userStatus.addClass('bg-dark');
            userStatus.text('미등록');
            break;
          case 1:
            userStatus.addClass('bg-success');
            userStatus.text('활성');
            break;
          case 2:
            userStatus.addClass('bg-warning');
            userStatus.text('비활성');
            break;
          case 99:
            userStatus.addClass('bg-secondary');
            userStatus.text('탈퇴');
            break;
        }
      });
    </script>


    <%- include('footer'); %>