<%- include('header'); %>
  <!-- BEGIN breadcrumb -->
  <ol class="breadcrumb float-xl-end">
    <li class="breadcrumb-item"><a href="javascript:;">Home</a></li>
    <li class="breadcrumb-item active">메인</li>
  </ol>
  <!-- END breadcrumb -->
  <!-- BEGIN page-header -->
  <h1 class="page-header mb-3">메인</h1>
  <!-- END page-header -->

  <div class="row">
    <div class="col">
      <div class="card border-0 mb-3 overflow-hidden">
        <div class="card-body">
          <div class="user-profile text-center">
            <div class="d-flex gap-3">
              <div class="mb-3">
                <a href="javascript:;" class="d-block w-60px position-relative">
                  <i class="fas fa-5x fa-circle-user text-gray-600"></i>
                  <!-- <img src="/assets/img/user/user-6.jpg" alt="" class="mw-100 rounded-pill"> -->
                  <span class="badge user-status position-absolute top-0 start-0"></span>
                </a>
              </div>
              <div class="text-start">
                <div>
                  <h6 class="mt-2 mb-3">
                    <%=user.f_email%>
                  </h6>
                </div>
                <h5>
                  <span class="badge bg-primary fs-12px"><i class="fa-solid fa-users"></i> <%=groupCnt%></span>
                  <span class="badge bg-primary fs-12px ms-1"><i class="fa-solid fa-user"></i> <%=referralCnt%></span>
                </h5>
              </div>
            </div>
            <div class="row text-truncate">
              <div class="col">
                <div>Total Balance</div>
                <div class="fs-20px mb-5px fw-bold text-green">$<span><%-helper.setFormatNumberWithPlacesSmall(wallet.f_balance, 2, true)%></span></div>
              </div>
            </div>
            <hr class="bg-white bg-opacity-50">
            <div class="row text-truncate">
              <div class="col-6">
                <div>누적 수수료</div>
                <div class="fs-18px mb-5px fw-bold text-green">$<span><%-helper.setFormatNumberWithPlacesSmall(user.f_sumfee, 2, true)%></span></div>
              </div>
              <div class="col-6">
                <div>롤업 커미션</div>
                <div class="fs-18px mb-5px fw-bold text-green">$<span><%-helper.setFormatNumberWithPlacesSmall(user.f_sumcoms, 2, true)%></span></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script>
      window.addEventListener('DOMContentLoaded', (event) => {
        pwUtils.userStatus(<%=user.f_status%>);
      });
    </script>


    <%- include('footer'); %>