<%- include('../header'); %>
	<!-- BEGIN breadcrumb -->
	<ol class="breadcrumb float-xl-end">
		<li class="breadcrumb-item"><a href="javascript:;">Home</a></li>
		<li class="breadcrumb-item active">전송 내역</li>
	</ol>
	<!-- END breadcrumb -->
	<!-- BEGIN page-header -->
	<h1 class="page-header mb-3">전송 내역</h1>
	<!-- END page-header -->

	<div class="row">
		<div class="col-12">
			<div class="panel panel-inverse">
				<div class="panel-heading">
					<h4 class="panel-title"><i class="fa fa-list me-1"> </i> 전송 내역</h4>
				</div>
				<div class="panel-body">
          <form method="get" name="listForm" id="listForm" autocomplete="off" action="javascript:;">
            <input type="hidden" name="s_page" value="<%=s_page%>">
            
            <div>
              <% if(!trans || trans.length == 0) {%>
              
                <div class="alert text-center">
                  데이터가 존재하지 않습니다.
                </div>
              
              <% } else {
                trans.forEach(function(el, index) {
                  let type = el.f_type;
                  let typeHTML = '';
                  switch(type) {
                    case 1:
                      typeHTML = '<span class="badge bg-default text-dark rounded-pill ">롤업</span>';
                      break;
                    default:
                      break;
                  }
                  let status = el.f_status;
                  let statusHTML = '';
                  switch(status) {
                    case 0:
                      statusHTML = '<span class="badge bg-danger"><i class="fa fa-pause fa-lg me-1"></i> 대기</span>';
                      break;
                    case 1:
                      statusHTML = '<span class="badge bg-warning"><i class="fas fa-spinner fa-spin fa-lg me-1"></i> 전송</span>';
                      break;
                    case 2:
                      statusHTML = '<span class="badge bg-success"><i class="fas fa-check fa-lg me-1"></i> 완료</span>';
                      break;
                    default:
                      break;
                  }
                  let amount = el.f_amount;
                  let fee = el.f_fee; 
                  let token = el.f_token;
                  let network = el.f_network;
                  let address = el.f_address;
                  let regAt = el.f_regAt;
                %>

                <div class="d-flex align-items-center mb-15px">
                  <div class="rounded-3 me-10px bg-white p-3px">
                    <%-statusHTML%>
                  </div>
                  <div class="text-truncate">
                    <div>
                      <span>$<%-helper.setFormatNumberWithPlacesSmall(amount, 2, true)%></span>
                      <span class="text-gray-600 fs-10px">($<%-helper.setFormatNumberWithPlacesSmall(fee, 2, true)%>)</span>
                    </div>
                    <div class="fs-10px"><%=address%></div>
                  </div>
                  <div class="ms-auto text-end">
                    <div><%-typeHTML%></div>
                    <div class="text-gray-600 fs-10px"><%=regAt%></div>
                  </div>
                </div>
                <% }) %>
              <% } %>
            </div>
          </form>
          <div class="d-flex flex-column align-items-center pt-2">
            <div class="mb-3 text-gray-600">
              <%=`총 ${helper.setFormatNumber(totalcnt)}개중 ${helper.setFormatNumber(pagesnum)}부터 ${helper.setFormatNumber(pageenum>totalcnt?totalcnt:pageenum)}까지 출력중`%>
            </div>
            <div>
              <%-pagination%>
            </div>
          </div>     
				</div>
			</div>
		</div>

	</div>

	<%- include('../footer'); %>