<%- include('../header'); %>
	<!-- BEGIN breadcrumb -->
	<ol class="breadcrumb float-xl-end">
		<li class="breadcrumb-item"><a href="javascript:;">Home</a></li>
		<li class="breadcrumb-item active">계보도</li>
	</ol>
	<!-- END breadcrumb -->
	<!-- BEGIN page-header -->
	<h1 class="page-header mb-3">계보도</h1>
	<!-- END page-header -->

	<div class="row">
		<div class="col">
			<div class="panel panel-inverse">
				<div class="panel-heading">
					<h4 class="panel-title"><i class="fa fa-users me-1"></i> 계보도 <span class="badge bg-green ms-1">
							<%=tree.length%>
						</span></h4>
				</div>
				<div class="panel-body">
					<% if(!tree || tree.length==0) { %>
						<div>데이터가 없습니다</div>
						<%} else { %>
							<div class="input-group mb-3">
								<input type="text" id="nodeSearch" class="form-control" placeholder="Search">
								<button type="button" id="nodeSearchBtn" class="btn btn-outline-secondary" onclick="nodeSearch()"><i class="fa-solid fa-magnifying-glass me-1"></i>검색</button>
							</div>
							<div id="jstree"></div>
							<% } %>
				</div>
			</div>
		</div>
	</div>


	<script>
		const data = <%- JSON.stringify(tree) %>;
		let userIdx = <%=userIdx%>;
		let indexArray = [];
		let nodes = {};
		data.forEach((e, i) => {
			indexArray[e.idx] = i;
			data[i]['children'] = [];
		});

		data.forEach( (e, i) => {
			let node = {
				id: e.idx,
				text: e.f_email,
				//icon        : "string" // string for custom
				state: {
					opened: true  // is the node open
					// disabled  : boolean  // is the node disabled
					// selected  : boolean  // is the node selected
				},
				children: e.children,  // array of strings or objects
				// li_attr     : {},  // attributes for the generated LI node
				// a_attr      : {},  // attributes for the generated A node
			}

			if (userIdx != e.idx) {
				data[indexArray[e.f_pIdx]]['children'].push(node);
			} else {
				nodes = node;
			}
		});

		window.addEventListener('DOMContentLoaded', (event) => {
			$("#jstree").jstree({
				"plugins": [
					"search", "types",
				],
				"core": {
					"themes": { 
						"responsive": false,
						"icons": true,
					 },
					"data": nodes,
				},
				"types": {
					"default": { 
						"icon": "fa fa-user text-warning fa-lg",
					},
				}
			});	
		});

		function nodeSearch() {
			var v = $('#nodeSearch').val();
			$("#jstree").jstree(true).search(v);
		}
		
	</script>
	<%- include('../footer'); %>